@page
@model IndexModel
@{
    ViewData["Title"] = "Casa";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo Ao DevFlix</h1>
    <p>Aprenda Sobre <a href="https://docs.microsoft.com/aspnet/core">Aplicação Construida com ASP.NET Core</a>.</p>
</div>
